.wrapper{
	width:600px;
	background:#eee;
	margin:0 auto;
}
.heading{
	height:100px;
	background:grey;
	padding:150px;
	text-align:center;
	border-radius:20%;
}
.navigation{
	height:35px;
	background:lightgrey;
}
.content{
	height:2600px;
	background:#61666b;
	width:600px;
	border-radius:3%;
}
.avatar{
	width: 100px;
    	height: 100px;
   	border-radius: 50%;
    	position: absolute;
   	 top: 50px;
    	left: calc(50% - 50px);
}
.sidebar{
	width:200px;
	float:right;
	background:#ff9900;
	min-height:400px;
}