.wrapper{
	width:600px;
	background:#eee;
	margin:0 auto;
}
.heading{
	height:100px;
	background:grey;
	padding:150px;
	text-align:center;
}
.navigation{
	height:35px;
	background:lightgrey;
}
.content{
	height:750px;
	background:#61666b;
	width:600px;
}
.sidebar{
	width:200px;
	float:right;
	background:#ff9900;
	min-height:400px;
